.Card1{
    box-shadow: 0px 5px inset rgb(238, 22, 22); 
}
.Card2{
    box-shadow: 0px 5px inset rgb(69, 22, 238); 
}
.Card3{
    box-shadow: 0px 5px inset rgb(32, 133, 60); 
}
.Card4{
    box-shadow: 0px 5px inset rgb(206, 206, 6);  
}
